@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --primaryColor: #101820;
    --secondColor: #009bf9;
    --textColor: #F2FAFF;
    --gray: rgba(42, 53, 62, 0.4);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    border: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
    background: var(--primaryColor);
    color: var(--textColor);
}



#mainNavbar {
    background-color: var(--primaryColor) !important;
    border-bottom: 1px solid var(--gray);
    color: var(--textColor);

}

#mainNavbar .nav-item .nav-link {
    position: relative;
    color: var(--textColor);
}

#mainNavbar .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--secondColor);
    bottom: -3px;
    left: 0;
    transition: ease;
    -webkit-transition: ease .40s;
    -moz-transition: ease .40s;
    -ms-transition: ease .40s;
    -o-transition: ease .40s;
}

#mainNavbar .nav-item:not(:last-child) .nav-link:hover::after {
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

section {
    padding: 5rem 0;

}

.section-title {
    padding-bottom: 4rem;
    position: relative;
}

.sub-title {
    color: var(--secondColor);
    font-size: 11px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#hero {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

}

#hero .social a {
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

#hero .social a:hover {
    color: var(--textColor);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-trans-webkit-transform: scale(1);
    -ms-trans-webkit-transform: scale(1);
    -o-trans-webkit-transform: scale(1);

}

#hero h1 .typer {
    color: var(--secondColor);
}

/*About*/

.exp {
    background-color: var(--gray);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 0px 30px 45px rgba(22, 22, 22, 0.15);
}

.exp-number {
    margin-top: 20px;
    margin-bottom: -3px;
}

.skill {
    background: var(--gray);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
    transition: all .28s;
    -webkit-transition: all .28s;
    -moz-transition: all .28s;
    -ms-transition: all .28s;
    -o-transition: all .28s;

}

.skill:hover {
    transform: scale(1.12) rotate(0deg);
    -webkit-transform: scale(1.12) rotate(0deg);
    -moz-trans-webkit-transform: scale(1.12) rotate(0deg);
    -ms-trans-webkit-transform: scale(1.12) rotate(0deg);
    -o-trans-webkit-transform: scale(1.12) rotate(0deg);
    box-shadow: 0px 10px 25px 10px rgba(9, 98, 206, 28%);
}

.service-box {
    transition: all .40s;
    -webkit-transition: all .40s;
    -moz-transition: all .40s;
    -ms-transition: all .40s;
    -o-transition: all .40s;
}

.service-box:hover {
    background-image: linear-gradient(-45deg, #2763b8 0%, #2232dd 100%);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 20px 0;
}

#portfolio img {
    width: 100%;
    height: 350px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    object-fit: cover;
}

#gallery-modal .modal-img {
    width: 100%;
}

.contact-bg {
    background-color: var(--secondColor);
    height: 44vh;
    padding: 50px;
}

form input,
textarea {
    color: var(--secondColor) !important;
    background-color: var(--primaryColor) !important;
    border: 3px solid var(--gray) !important;
}

.form-control::placeholder {
    color: rgba(231, 230, 230, 0.4);
}

@media screen and (max-width:974px) {
    .contact-bg {
        height: 40vh;
    }

}